<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <appSettings file="Local.config">
    <add key="API_Key" value="" />
    <add key="DH_User" value="" />
    <add key="HostnameCSV" value="" /> <!--This is a Comma Separate Value, so "johndoe.com,ftp.johndoe.com,smtp.johndoe.com" is correct formatting. -->
    <add key="Update_Interval_Minutes" value="720" />
  </appSettings>

  <nlog>
    <targets>
      <target name="logfile" type="File" fileName="Logging.log" />
    </targets>

    <rules>
      <logger name="*" minlevel="debug" writeTo="logfile" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>