<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="Local.config">
    <add key="API_Key" value="" />
    <add key="DH_User" value="" />
    <add key="Hostname" value="" />
    <add key="Update_Interval_Minutes" value="720" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>